body {
    width: 1020px;
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;  
    font-family: 'Titillium Web', 'Arial', sans-serif;
    text-align: center;
    background: #e6f4f4;
}

h1 {
    margin: 10px 0 20px 0;
    font-weight: 700;
    font-size: 28px;
}

h2 {
    margin: 10px 0;
    padding: 10px;
    font-weight: 800;
    font-size: 24px;
    background: #21ba68;
}

.contacts {
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    background: #bed8d2;
}

.contact {
    margin: 10px 0;
    font-style: normal;
    font-size: 18px;
    color: #e54a42;
}

p {
    font-weight: 500;
    line-height: 24px; 
}

li {
    margin: 8px 0;
    font-style: italic;
}

h3 {
    margin: 10px 0;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
}