body {
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px; 
    font-family: "Overpass", "Arial", sans-serif;
    text-align: justify;
    background: #e6f4f4;
}

h1 {
    margin: 10px 0 20px 0;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin: 10px 0;
    padding: 10px;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    background: #21ba68;
}

.contacts {
    width: 300px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px 0 15px;
    background: #bed8d2;
}

.contact {
    margin: 10px 0;
    font-style: normal;
    font-size: 18px;
    color: #e54a42;
}

p {
    margin: 0 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

li {
    margin: 10px 0 0 50px;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
}

div {
    margin-left: 50px;
}

h3 {
    margin: 10px 0;
    padding: 5px;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
}
